body , html{
  padding: 0px;
  margin: 0px;
}
.topnav{
    background-color: #C4C4C4;
    overflow: hidden;
}
.topnav img{
  overflow: hidden;
  height: 50px; 
  padding: 0px 0px; 
  margin: 0px;
  display:inline-flexbox;
}
.topnav a {
    float:left;
    display: block;
    color: #575757;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
    
  }
  .topnav a:hover {
    background-color: #FFD304;
    color: 575757;
  }
  
  /* Add an active class to highlight the current page */

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .mainhead{
    font-family: 'Ubuntu', sans-serif;
      
  }
