<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Adventure Together</title>
</head>
<body>
    <div class="logo"><a href="#"><img src="static/img/logo.svg" alt=""></a></div>
    <nav> 
        <ul>
            
            <li> 
                <a href="#" class="first"><i class="fa fa-info-circle" aria-hidden="true"></i>
                      About</a>
                
            </li>
            <li class="leftnav">
                <a href="signup"> <i class="fas fa-user-plus"></i>  SignUp</a>
                <a href="login">Login   <i class="fas fa-lock"></i></a>
            </li>
        </ul>
    </nav>
<section>
    <center>
        <div class="logobig">
        <img src="static/img/big.png" alt=""> 
        
    </center>
    </div> 
 </section>
</body>
</html>